@tailwind base;
@tailwind components;
@tailwind utilities;

.border-error {
  border-color: #EB5659; /* Adjust as needed */
}

:root {
  --background: #093545;
  --foreground: #ededed;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-montserrat);
}
